{
    "plugins": [
        "import",
        "jest"
    ],
    "env": {
        "node": true
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "space-before-function-paren": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true,
                "variables": true
            }
        ],
        "operator-linebreak": [
            "error",
            "after"
        ],
        "padded-blocks": "off"
    }
}